<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= Customer.find(@sale.customer_id).name %>
</p>

<p>
  <strong>Destination:</strong>
  <%= Destination.find(@sale.destination_id).city %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @sale.quantity %>
</p>

<p>
  <strong>Total:</strong>
  <%= @sale.total %>
</p>

<p>
  <strong>Sale date:</strong>
  <%= @sale.sale_date %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
